{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="column">
        <div class="card">
            <div class="card-header is-light">
                <div class="card-header-title is-centered">
                    <h2 class="title is-2 is-center">Login</h2>
                </div>
            </div>
            <div class="card-content">
                <div class="content">            
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Login">
                </form>
                </div>
            </div>
                <div class="card-footer">
                    <a href="{% url "social:begin" "google-oauth2" %}" class="card-footer-item">Google</a>
                    <a href="#" class="card-footer-item">Twitter</a>
                    <a href="#" class="card-footer-item">VK</a>
                </div>
            
            </div>
        </div>
</div>




{% endblock content %}