{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container px-2 py-4">
        <div class="card">
            <div class="card-header is-light">
                <div class="card-header-title is-centered">
                    <h2 class="title is-2 is-center">Signup</h2>
                </div>
            </div>
            <div class="card-content">
                <div class="container">            
                    <form class="form-signin" method="post">
                        
                        {% csrf_token %}
                        <div class="form-label-group px-5 py-3">
                            {{ form.as_p }}
                        </div>
                        
                        <div class="col text center">
                        <button class="btn btn-primary btn-lg btn-block px-5 py-2" type="submit" value="Register">Signup</button>              
                        </div>
                        </form>
                        <br>
                </div>
            </div>
                <div class="card-footer">
                    <div class="col text-center">
                        <button class="btn btn-danger btn-lg btn-block" type="button"><a href="{% url "social:begin" "google-oauth2" %}" >Google</a></button>
                        <button class="btn btn-danger btn-lg btn-block" type="button"><a href="{% url "social:begin" "google-oauth2" %}" >Google</a></button>
                        <button class="btn btn-danger btn-lg btn-block" type="button"><a href="{% url "social:begin" "google-oauth2" %}" >Google</a></button>
                    </div>
                </div>
            </div>
        </div>
</div>




{% endblock content %}