<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">


    <title>Home</title>

</head>

<body>
    <nav id="navbar" class="bd-navbar navbar  is-light"> 
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://www.shareicon.net/download/128x128//2016/01/01/227736_folder_256x256.png" alt="Coffee_cup">
            </a>
            <h2 class="title is-3">Coffee cup!</h2>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div id="navbarStartOriginal" class="navbar-start bd-navbar-start bd-is-original">
                <a class="navbar-item"                
                    href="/creator/{{request.user.profile.id}}">
                    <span>
                        My page
                    </span>
                </a>                
                <a class="navbar-item" 
                        href="/creators">
                    
                    <span>
                        Creators
                    </span>
                </a>
                <a class="
                    navbar-item"                
                    href="/">
                    
                    <span>
                        Routine
                    </span>
                </a>
            </div>
            <div class="navbar-end bd-navbar-end bd-is-original">
                {% if request.user.id %}
                <a class="navbar-item"                
                    href="/creators/logout">
                    
                    <span>
                        Logout
                    </span>
                </a>
                {% else %}
                <a class="navbar-item"                
                    href="/creators/login">
                    
                    <span>
                        Login
                    </span>
                </a>
                {% endif %}
              
            </div>    
              
              
              
        <div>


        </div>
    </nav>
    <br>
    <div class="container">
        <div class="columns">
        {% block content %}


        {% endblock content %}
        </div>
    </div>

</body>

</html>