{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="column">

{% for profile in profiles %}

    <div class="block">
      <div class="card">
        <a href=/creator/{{profile.id}}>
          <div class="card-content">
            <div class="media">
              <div class="hero is-small">
                <a href=creator/{{profile.id}}>
                  <figure class="image is-48x48">
                    <img src="../{{profile.avatar}}" alt="Avatar">
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <p class="title is-4">
                  {{ profile.user.username }}
                </p>
                <p class="subtitle is-6">
                  @{{ profile.user.username|lower }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}

</div>

{% endblock content %}