{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="column">
{% for post in posts %}

    <div class="block">
      <div class="card">
        <a href=creator/{{post.owner.profile.id}}>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="../{{post.owner.profile.avatar}}"
                       alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">
                  {{ post.title }}
                </p>
                <iframe width="480" height="270" src={{post.video_id}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                  {{post.description}}
                </p>
                <p class="subtitle is-6">
                  @{{ post.owner }}
                </p>
              </div>
              {% if post.user.id == request.user.id %}
              <div class="media-right">
                <form method="post">
                  {% csrf_token %}
                  <div class="button is-danger is-small">
                    <button class="button is-danger is-small" type="submit" name = "delete">Delete</button>
                  </div>
                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}

</div>

{% endblock content %}