{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="main">
  {% for post in posts %}
  <div class="container px-5 py-2">
    <div class="row">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg">
          <div class="row">
            <div class="col-1">
              <a href=creator/{{post.owner.profile.id}}>
                <figure class="figure">
                  <img src="../{{post.owner.profile.avatar}}" class="img-thumbnail w-80" alt="Placeholder image">
                  <figcaption class="figure-caption">@{{ post.owner }}</figcaption>
                </figure>
              </a>
            </div>
            <div class="col-lg">
              <div class="media">
                <div class="media-body">
                  <h5 class="mt-0">{{ post.title }}</h5>
                  <iframe width="640" height="360" src={{post.video_id}} title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                  </iframe>
                </div>
              </div>
            </div>
            <div class="col-sm">
              {{post.description}}
            </div>
          </div>
          <div class="row">
            <div class="col text-center ">
              <div class="btn-group align-self-center">
                  <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary" name="like" value={{post.id}}>
                      Like
                    </button>
                    <button class="btn btn-secondary" disabled>
                      {{post.likes.count}}
                    </button>
                    <button class="btn btn-secondary" name="dislike" value={{post.id}}>
                      Dislike
                    </button>
                  </form>
                </div>
            </div>    
              {% if post.owner.id == request.user.id %}
              <div class="media-right">
                <form method="post">
                  {% csrf_token %}
                  <div class="button is-danger is-small">
                    <button class="button is-danger is-small" type="submit" name="delete"
                      value={{post.id}}>Delete</button>
                  </div>
                </form>
              </div>
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}