{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="column">
  <div class="blick">
    <img src="../{{profile.avatar}}" alt="avatar">
    <h3 class="title is-3">
      @{{ profile.user.username }}
    </h3>
  </div>
  <br>
  <br>
  <form method="post">
    {% csrf_token %}
    <div class="buttons has-addons">
      {% if profile in user.profile.follows.all %}
      <button class="button is-static">Follow</button>
      <button class="button is-danger" name="follow" value="unfollow">Unfollow</button>
      {% else %}
      <button class="button is-success" name="follow" value="follow">Follow</button>
      <button class="button is-static">Unfollow</button>
      {%endif%}
    </div>
  </form>
</div>
<div class="column">
  {% if request.user.profile.id == profile.id %}
  <div class="block">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button is-link is-fullwidth is-medium" type="submit" name = "submit">
      Submit!
    </button>
    

  </form>
  </div>
  {% endif %}
  {% for post in profile.user.posts.all %}

  <div class="block">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="../{{post.owner.profile.avatar}}" alt="Placeholder image">
            </figure>
          </div>
          
          <div class="media-content">
            <p class="title is-4">
              {{ post.title }}
            </p>
            <iframe width="480" height="270" src={{post.video_id}} title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <p>
              {{post.description}}
            </p>
            <p class="subtitle is-6">
              @{{ post.owner }}
            </p>
          </div>
          <div class="media-right">
            <form method="post">
              {% csrf_token %}
              <div class="button is-danger is-small">
                <button class="button is-danger is-small" type="submit" name = "delete">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>


<div class="column is-one-third">
  <div class="block">
    <a href="../">
      <button class="button is-dark is_outlined">
        На главную
      </button>
    </a>
    <br>
    <br>

    <div class="block">
      <h3 class="title is-4">
        {{profile.user.username}} подписан на:
      </h3>
      <div class="content">
        <ul>
          {% for following in profile.follows.all %}
          <li>
            <a href=/creator/{{following.id}}>
              {{ following }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="block">
      <h3 class="title is-4">
        Подписчики {{profile.user.username}}:
      </h3>
      <div class="content">
        <ul>
          {% for follower in profile.followed_by.all %}
          <li>
            <a href=/creator/{{follower.id}}>
              {{ follower }}
            </a>
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</div>



{% endblock content %}